body {
  color: linear-gradient(to right, #FFFFFF, #000000);
	background: linear-gradient(-45deg, #A4DE02, #00008b);
}

h1{
  font-size: 6rem;
  background: linear-gradient(45deg, #f3ec78, #af4261);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  display: inline-block;
}

#MS-Virus {
  text-align: center;
}

#Win11 {
  float: right;
}

#watch-shrek {
	font-family: cursive;
	color: green;
}

p, span, label {
	font-family: Verdana;
}

h2, a {
	font-family: 'Courier New';
  color: #B90E0A;
}
