* {
  color: #9e9e9ed5;
  }

h1, h2, p, li{
    font-family: Arial;
  }

html {
    scroll-behavior: smooth;
  }

body {
    width: 100%;
    float: left;
    /*background: #0a1608;*/
    background: linear-gradient(0deg, #1a2400, #296801);
  }
  
#command {
    width: 25%;
    float: left;
    height: 100%;
  }

#action {
    width: 50%;
    float: left;
    height: 100%;
  }

#alias {
    width: 25%;
    float: left;
    height: 100%;
  }

#original {
    width: 50%;
    float: left;
    height: 100%;
  }
  
#autocrrected {
    width: 50%;
    float: left;
    height: 100%;
  }
